body {
    font-family: "Lato", sans-serif;
    margin: 0px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav-wrapper {
    background-color: #23272a;
    display: flex;
    justify-content: space-between;
    padding: 38px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .left-side {
    display: flex;
  }

  .stats-wrapper {
    text-align: center;
    color: white;

  }
  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    margin-top:0.5vw;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }

  .active-nav-link {
    border-bottom: 1px solid white;
  }

  .active-nav-link a {
    color: white !important;
  }

  .nav-link-wrapper a {
    color: gray;
    text-decoration: none;
    transition: color 0.5s;
  }

  .nav-link-wrapper:hover {
    border-bottom: 1px solid white;
  }

  .nav-link-wrapper a:hover {
    color: white;
  }

  .nav-link-wrapper .special-link a{
    color: red;
  }

  .commands-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .commands-item-wrapper {
    position: relative;
  }


  .commands-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 350px;
    width: 100%;
  }

  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;

  }

  .img-text-wrapper .subtitle {
    position: absolute;
    transition: 1s;
    color: transparent;
    white-space: pre-wrap;
    text-align: center;
  }
  .command-title h1{
    color: #7289da;
    font-size: 1vw;
  }

  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }

  .img-text-wrapper:hover .subtitle {
    color: #7289da;

  }

  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }
  .img-text-wrapper:hover .fade {
    transition: 1s;
    opacity: 0;
  }

  .brand {
    color: white;
  }

  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .three-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .profile-image-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

  }
  .profile-title-wrapper {
    text-align: center;
    padding: 1vw;
    color: white;
  }
  .profile-title-wrapper h1 {
    color: #7289da;
  }
  .profile-content-wrapper {
    color: white;
    padding-left: 7.5vw;
  }

  .profile-content-wrapper h1 {
    color: #7289da;
  }

  .dropdown {
    background-color: #2c2f33;
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 40px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    outline: none;
    color: #7289da;
    padding: 14px 16px;
    background-color: black;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: #2c2f33;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }