<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>Commands Homepage</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body style="background-color:#2c2f33">
  <div class="container">
    <div class="nav-wrapper">
      <div class="left-side">
        <div class="nav-link-wrapper">
          <a href="/">Home</a>
        </div>

        <div class="nav-link-wrapper">
          <a href="/about">About</a>
        </div>

        <div class="nav-link-wrapper active-nav-link">
          <a href="/commands">Commands</a>
        </div>
        <div class="nav-link-wrapper">
          <div class="special-link">
            <a href="https://discord.com/api/oauth2/authorize?client_id=795756832164413500&permissions=335936592&scope=bot" target="_blank">Invite</a>
          </div>
        </div>
      </div>

      <div class="right-side">
        <div class="brand">
          MasterQuoter
        </div>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" id="basic" onclick="menuClick()">
        Basic Commands &gt;
      </button>
      <div class="dropdown-content" id="basicDrop">
        <div class="commands-items-wrapper">
          <div class="commands-item-wrapper">
            <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
            <div class="img-text-wrapper">
              <div class="fade">
                <div class="command-title">
                  <h1>HELP</h1>
                </div>
              </div>

              <div class="subtitle">

The help menu shows a menu of commands (This will hopefully be more organized in the future).

For a more organized command list... Consider using:
- (prefix) about (Commands organized into categories)

To see help for a specific command... Consider using:
- (prefix) help (It's actually pretty good!)

Hope you enjoy our bot.
              </div>
            </div>
          </div>



          <div class="commands-item-wrapper">
            <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
            <div class="img-text-wrapper">
              <div class="fade">
                <div class="command-title">
                  <h1>ABOUT</h1>
                </div>
              </div>

              <div class="subtitle">
Just tells you what this bot is really about! :)

Example:
- mq>about
              </div>
            </div>
          </div>

          <div class="commands-item-wrapper">
            <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
            <div class="img-text-wrapper">
              <div class="fade">
                <div class="command-title">
                  <h1>PING</h1>
                </div>
              </div>

              <div class="subtitle">Pings the bot and tells you the latency of the bot.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" id="save" onclick="menuClick()">
        Quote Saving Commands &gt;

      </button>
      <div class="dropdown-content" id="saveDrop">
        <div class="commands-items-wrapper">
          <div class="commands-item-wrapper">
            <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
            <div class="img-text-wrapper">
              <div class="fade">
                <div class="command-title">
                  <h1>qLast</h1>
                </div>
              </div>

              <div class="subtitle">
Saves the last section of *continuous messages* from that user.

section: This specifies the # of sections to pass before saving.

lines: This specifies how many lines in the channel to look (max 200)

Examples:
- mq>qlast @alex3000
- mq>qlast @alex3000 2
- mq>qlast @alex3000 2 150

              </div>
            </div>
          </div>

          <div class="commands-item-wrapper">
            <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
            <div class="img-text-wrapper">
              <div class="fade">
                <div class="command-title">
                  <h1>Quote</h1>
                </div>
              </div>

              <div class="subtitle">
This handy dandy command allows you to save things your friends have said!

Examples:
- mq>quote @alex3000 `MAKE UP A_RANDOM_MESSAGE IF YOU WANT` `>:)`
- mq>qt @alex3000 `message here`
- mq>q @alex3000 `message here`

Note:
- When the save command contains a image attachment, the command will **NOT** be deleted if delete `save commands on completion` is `enabled`.
- This is because the image url becomes __invalid__ as soon as it is deleted.


              </div>
            </div>
          </div>

          <div class="commands-item-wrapper">
            <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
            <div class="img-text-wrapper">
              <div class="fade">
                <div class="command-title">
                  <h1>Snip</h1>
                </div>
              </div>

              <div class="subtitle">

This handy dandy command allows you to save  things your friends have said!

lines: This argument specifies how many messages in history will be searched

Examples:
- mq>snip
- mq>snip 150
- Add 2 reactions to the same message, or 2 reactions to different messages (all messages in between the two reactions will be selected).

Note:
- If the selected messages contains multiple authors, it is saved as a `server snippet`.
- If the selected messages only contain one author, it is saved as a `quote`
- This command does not have to be invoked in the same channel as where the message you wanted to save is.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


        <div class="dropdown">
          <button class="dropbtn" id="read" onclick="menuClick()">
            Quote Reading Commands &gt;
          </button>
            <div class="dropdown-content" id="readDrop">
              <div class="commands-items-wrapper">
                <div class="commands-item-wrapper">
                  <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
                  <div class="img-text-wrapper">
                    <div class="fade">
                      <div class="command-title">
                        <h1>Show Quote</h1>
                      </div>
                    </div>

                    <div class="subtitle">
Fetches a specific quote and displays it when provided a quote id.

Examples:
- mq>show_quote `quote_id_here`
- mq>sq `quote_id_here`

                    </div>
                  </div>
                </div>

                <div class="commands-item-wrapper">
                  <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
                  <div class="img-text-wrapper">
                    <div class="fade">
                      <div class="command-title">
                        <h1>List Quotes</h1>
                      </div>
                    </div>

                    <div class="subtitle">
Lists all quotes from a specified user (ping them)

Examples:
- mq>list_quotes @Cuddles#2321
- mq>listq @Cuddles#2321
- mq>lq @Cuddles#2321

                    </div>
                  </div>
                </div>

                <div class="commands-item-wrapper">
                  <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
                  <div class="img-text-wrapper">
                    <div class="fade">
                      <div class="command-title">
                        <h1>List Snips</h1>
                      </div>
                    </div>

                    <div class="subtitle">
Lists all snippets saved on the server

Examples:
- mq>list_snips
- mq>lists
- mq>ls
                    </div>
                  </div>
                </div>

                <div class="commands-item-wrapper">
                  <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
                  <div class="img-text-wrapper">
                    <div class="fade">
                      <div class="command-title">
                        <h1>Show Snips</h1>
                      </div>
                    </div>

                    <div class="subtitle">
Shows a snippet when provided an id. You can see the id of a quote/snip when it is saved, or you can find it through `lists` or `listq`.

Examples:
- mq>show_snip `snippet_id`
- mq>ss `snippet_id`

                    </div>
                  </div>
                </div>

                <div class="commands-item-wrapper">
                  <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
                  <div class="img-text-wrapper">
                    <div class="fade">
                      <div class="command-title">
                        <h1>Random</h1>
                      </div>
                    </div>

                    <div class="subtitle">
This command will fetch a random quote from your server and send it if __no user is specified__.

If a __user is specified__, this will fetch a random quote from that user.

Examples:
- mq>random
- mq>rand
- mq>rand @alex3000

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="dropdown">
            <button class="dropbtn" id="fun" onclick="menuClick()">
             Fun Commands! &gt;
            </button>
              <div class="dropdown-content" id="funDrop">
                <div class="commands-items-wrapper">
                  <div class="commands-item-wrapper">
                    <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
                    <div class="img-text-wrapper">
                      <div class="fade">
                        <div class="command-title">
                          <h1>Tictactoe</h1>
                        </div>
                      </div>

                      <div class="subtitle">
Simple tictactoe game. Play with your friends!
This one was created by @Alex3000, there may be an
easter egg version made by @Cuddles (Hint: He likes getting his toes tickled :))

Examples:
- mq>tictactoe user (ping player you want to play against)
- mq>tic user

                            </div>
                    </div>
                  </div>

                  <div class="commands-item-wrapper">
                    <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
                    <div class="img-text-wrapper">
                      <div class="fade">
                        <div class="command-title">
                          <h1>Guess</h1>
                        </div>
                      </div>

                      <div class="subtitle">
You ever wanna guess who said what stupid thing? This starts a game where a random quote is displayed (hiding the author of the quote) and the first person to ping the author of the quote is granted the guess.

Examples:
- mq>guess
- mq>gs 10
- stop (while game is active to stop game)

Notes:
- Max guesses is 10, specifying any more than 10 will default to 5 attempts.
                      </div>
                    </div>
                  </div>

                  <div class="commands-item-wrapper">
                    <div class="commands-img-background" style="background-image:url(images/commands.png)"></div>
                    <div class="img-text-wrapper">
                      <div class="fade">
                        <div class="command-title">
                          <h1>Anime</h1>
                        </div>
                      </div>

                      <div class="subtitle">
The developers of this bot like anime. Therefore this is here too.

Command Group:
- `search`, `char|character`, `trace`

Examples:
- mq>anime search `name of anime`
- mq>jikan search `MyAnimeList_ID`
- mq>anime character `name of character`
- mq>jikan char `MyAnimeList_ID`
- mq>anime trace `(attach image to trace)`
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</body>
<script>
  const commandsItems = document.querySelectorAll('.commands-item-wrapper');

  commandsItems.forEach(commandsItem => {
    commandsItem.addEventListener('mouseover', () => {
      console.log(commandsItem.childNodes[1].classList)
      commandsItem.childNodes[1].classList.add('image-blur');
    });

    commandsItem.addEventListener('mouseout', () => {
      console.log(commandsItem.childNodes[1].classList)
      commandsItem.childNodes[1].classList.remove('image-blur');
    });
  });

  // Toggle showing / not showing
  function menuClick() {
    var dropstring = event.srcElement.id + "Drop";

    document.getElementById(dropstring).classList.toggle("show");

    var change = document.getElementById(event.srcElement.id).innerHTML;

    if (change.includes("&gt;")) {
      change = change.replace("&gt;", "\u02C5");
      document.getElementById(event.srcElement.id).innerHTML = change;
    } else {
      change = change.replace("\u02C5", " &gt;");
      document.getElementById(event.srcElement.id).innerHTML = change;
    }

  }
</script>
