<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>Master Quoter home </title>
  <link rel="stylesheet" href="styles.css">
</head>



<body style= "background-color: #2c2f33">
  <div class="container">
    <%- include('./partials/nav.ejs', {page_name: 'index'}); %>

    <div class="content-wrapper">
        <div class = 'two-column-wrapper'>
          
            <% if (stats.length > 0) { %>
              <% stats.forEach(stat => { %>
                <div class="stats-wrapper">
                  <h3 class = "name"><%= stat.name %></h3>
                  <p class = "value"><%= stat.value %></p>
                </div>
              <% }) %>
            <% } else { %>
              <p>No stats</p>
            <% } %>
            

        </div>
    </div>

</body>


</html>
